/* internal CSS */

/* ##########################--- TAG SELECTORS ---########################## */

/* affects the body tad of this current file */
body {
  background-color: #F7F7F7;
}

hr {
  border-style: none; /* porque o CSS tem defaults values e tivemos de os "subscrever" */
  border-top-style: dotted;
  border-color: #000000;
  border-width: 5px;
  width: 5%; /* 15% de toda a widht da página se está a ser visto no PC ou no tele */
}

h1 {
  color: #1e836c;
}

h2 {
  color: #45b29a;
}

/* #########################--- CLASS SELECTORS ---######################### */

/* class selectors specifies the styling for a secific tag, i mean, you have 3
img tag's but who want them all to have different background-colors, so you should
use class selectors */

.main_picture {
  border-radius: 20%;
}
